@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  /* margin: 4px 0; Add margin on top and bottom */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
  margin: 8px 1px; /* Add margin on top and bottom */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219); /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175); /* Set the color of the scrollbar thumb on hover */
}

* {
  font-family: "Wix Madefor Text";
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Footer */
  .box:hover .luminance {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 2000ms ease-in-out forwards 300ms,
      glow 2500ms linear infinite 2000ms;
  }

    .loader {
      width: 50px;
      padding: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #25b09b;
      --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
      -webkit-mask: var(--_m);
      mask: var(--_m);
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
      animation: l3 1s infinite linear;
    }
  
    @keyframes l3 {
      to {
        transform: rotate(1turn)
      }
    }

/* glassmorphism  */
.header  {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1.5px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6.5px);
}

/* sign in ---- sign up */
.circle {
  width:  6.5rem;
  height: 6.5rem;
  background: #0f3460;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}

.circle-one {
  top:  6%;
  left: 6%;
  z-index: -1;
  transform: translate(-45%, -45%);
  -webkit-transform: translate(-45%, -45%);
  -moz-transform: translate(-45%, -45%);
  -ms-transform: translate(-45%, -45%);
  -o-transform: translate(-45%, -45%);
}

.circle-two {
  bottom: 6%;
  right:  6%;
  z-index: -1;
  transform: translate(45%, 45%);
  -webkit-transform: translate(45%, 45%);
  -moz-transform: translate(45%, 45%);
  -ms-transform: translate(45%, 45%);
  -o-transform: translate(45%, 45%);
}